<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置 Bean -->
    <bean id="bookDao" class="com.spring.example.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="com.spring.example.service.impl.BookServiceImpl"/>
</beans>