<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="com.spring.example.domain.Book">
        <constructor-arg value="1"/>
        <constructor-arg value="计算机理论"/>
        <constructor-arg value="深入理解 Mybatis"/>
    </bean>

    <bean id="student" class="com.spring.example.domain.Student" autowire="no">
        <constructor-arg value="10001"/>
        <constructor-arg value="Lucy"/>
        <constructor-arg ref="book"/>
    </bean>
</beans>