<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mybatis-book" class="com.spring.example.domain.Book">
        <property name="id" value="1"/>
        <property name="type" value="计算机理论"/>
        <property name="name" value="深入理解 Mybatis"/>
    </bean>

    <bean id="springboot-book" class="com.spring.example.domain.Book">
        <property name="id" value="1"/>
        <property name="type" value="计算机理论"/>
        <property name="name" value="深入理解 SpringBoot"/>
    </bean>

    <!--  指定首先 Bean  -->
    <bean id="spring-book" class="com.spring.example.domain.Book" primary="true">
        <property name="id" value="1"/>
        <property name="type" value="计算机理论"/>
        <property name="name" value="深入理解 Spring"/>
    </bean>

    <!--  简单类型通过 setter 手动装配  -->
    <!--  引用类型通过 setter 自动装配  -->
    <bean id="student" class="com.spring.example.domain.Student" autowire="byType">
        <property name="id" value="10001"/>
        <property name="name" value="Lucy"/>
    </bean>
</beans>