<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 命名空间 -->
<mapper namespace="com.spring.example.mapper.ExportMapper">
    <insert id="insert" parameterType="java.lang.String">
        insert into user_group (id) values (#{id,jdbcType=VARCHAR})
    </insert>
</mapper>